<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모두의 교실</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <div class="outline">
            <div class="box1 flex_between">
                <div id="clock"></div>
                <div class="flex bar">
                    <div><i class="fa-solid fa-signal"></i></div>
                    <div><i class="fa-solid fa-wifi"></i></div>
                    <div><i class="fa-solid fa-battery-full"></i></div>
                </div>
            </div>
            <div class="box2_1 flex" onclick="window.location.href='/'">
                <i class="pad_16 fa-solid fa-arrow-left"></i>
                <p class="pad_16">안전 · 건강교육</p>
            </div>
            <div class="box3_1">
                <img src="/static/image/안전건강교육.png" alt="">
            </div>
            <div class="box5 flex_column">
                <div class="menuBtn_lit row menuText" onclick="window.location.href='/situation'">
                    <img class="menuImg_lit" src="/static/image/menu_지진.png" alt="">
                    <p>지진</p>
                </div>
                <div class="menuBtn_lit row menuText">
                    <img class="menuImg_lit" src="/static/image/menu_태풍.png" alt="">
                    <p>화재</p>
                </div>
                <div class="menuBtn_lit row menuText">
                    <img class="menuImg_lit" src="/static/image/menu_폭설.png" alt="">
                    <p>태풍·집중호우</p>
                </div>
                <div class="menuBtn_lit row menuText">
                    <img class="menuImg_lit" src="/static/image/menu_폭염.png" alt="">
                    <p>황사·미세먼지</p>
                </div>
                <div class="menuBtn_lit row menuText">
                    <img class="menuImg_lit" src="/static/image/menu_화재.png" alt="">
                    <p>폭염</p>
                </div>
                <div class="menuBtn_lit row menuText">
                    <img class="menuImg_lit" src="/static/image/menu_황사.png" alt="">
                    <p>대설·한파</p>
                </div>
            </div>
        </div>
            
    </div>
    <script src="https://kit.fontawesome.com/25d2563d2d.js" crossorigin="anonymous"></script>
    <script src="/static/home.js">
    </script>
</body>
</html>