<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모두의 교실</title>
    <link rel="stylesheet" href="/static/main.css">

</head>
<body>
    <div class="container">
        <div class="outline">
            <div class="box1 flex_between">
                <div id="clock"></div>
                <div class="flex bar">
                    <div><i class="fa-solid fa-signal"></i></div>
                    <div><i class="fa-solid fa-wifi"></i></div>
                    <div><i class="fa-solid fa-battery-full"></i></div>
                </div>
            </div>

            <div class="box2_1 flex">

            </div>

            <div class="box2_1 flex" onclick="window.location.href='/chat copy.html'">
                <i class="pad_16 fa-solid fa-arrow-left"></i>
                <p class="pad_16">지진</p>
            </div>
           <div class="situation_select">
                <img src="/static/image/situation 탈출 선택.png" alt="">
            </div>
            <div class="container2 flex_column">
                <div class="situation_1" onclick="window.location.href='/chat'">
                    <img class="situation_img_1" src="/static/image/situation 라면.png" alt="">
                </div>
                <div class="situation_2">
                    <img class="situation_img_1" src="/static/image/situation 수업.png" alt="">
                </div>
                <div class="situation_3">
                    <img class="situation_img_1" src="/static/image/situation 땅.png" alt="">
                </div>
                <div class="situation_4">
                    <img class="situation_img_1" src="/static/image/situation 지진, 불.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/25d2563d2d.js" crossorigin="anonymous"></script>
    <script src="/static/home.js">
    </script>
</body>
</html>